footer{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: #F2F221;
        font-size: 0.8rem;
        margin: 1rem 0;
    }
}